@media (max-width: 1280px) {

    #navbar {
        display: none;
    }

    #principal-profile {
        width: 300px;
    }

    #desc-presentation {
        font-size: 1.5rem;
    }
}

@media (max-width: 980px) {
    #principal-profile {
        width: 200px;
    }

    #desc-presentation {
        font-size: 1rem;
    }
}

@media (max-width: 750px) {
    #presentation {
        flex-direction: column;
    }
    #desc-presentation {
        align-items: center;
    }
}

@media (max-width:386px) {
    .works-vercel {
        width: 200px;
    }

    .imgsocialmedialist {
        width: 25px;
    }

    .socialmedialist {
        font-size: 0.75rem;
    }
}

@media (max-width:238px) {

    #principal-profile {
        width: 150px;
    }
    .works-vercel {
        width: 150px;
    }

    .imgsocialmedialist {
        width: 15px;
    }

    .socialmedialist {
        font-size: 0.5rem;
    }
}

@media (max-width:210px) {
    #principal-profile {
        width: 75px;
    }
    .works-vercel {
        width: 125px;
    }

    .imgsocialmedialist {
        width: 10px;
    }

    .socialmedialist {
        font-size: 0.25rem;
    }

    #theseare-myworks-h3 {
        font-size: 1.5rem;
    }

    .button-form {
        width: 60px;
        font-size: .5rem;
    }
}

@media (max-width:132px) {
    #principal-profile {
        width: 45px;
    }

    #desc-presentation {
        font-size: 0.5rem;
    }

    .works-vercel {
        width: 100px;
    }

    .imgsocialmedialist {
        width: 7px;
    }

    .socialmedialist {
        font-size: 0.2rem;
    }

    #theseare-myworks-h3 {
        font-size: 1rem;
    }

    #description-section>p {
        font-size: 0.75rem;
    }

    .titles-contactmedia {
        font-size: 1rem;
    }
}